$clr-black-900: #000;
$clr-black-600: #9F9F9F;
$clr-black-400: rgba(209, 197, 197, 0.25);
$clr-black-300: #F5F5F5;
$clr-black-100: #fff;
$clr-accent-500: #5DDCF8;
$clr-accent-200: rgba(93, 220, 248, 0.25);
$ff-primary: 'Inter', sans-serif;
$ff-regular: 400;
$ff-medium: 500;
$border-radius: 3px;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
$shadow-hover: 0px 4px 8px rgba(0, 0, 0, 0.13);
$large-breakpoint: 935px;
$large-med-breakpoint: 835px;
$med-breakpoint: 600px;
$small-med-breakpoint: 560px;